
<div class="fixed-navbar">
    <div class="navbar-lockup">

        <div class="logo">

            <a href=""><img src="~/Content/assets/img/dynamo-logo.png" alt="Dynamo"></a>

        </div>
        <ul class="nav">
            <li><a href="/Home">Home</a></li>
            <li><a href="/Home/#About">About</a></li>
            <li><a href="/Generator">Generator</a></li>
            <li><a href="#WorkoutZone">Workout Zone</a></li>
            <li><a href="#Resources">Resources</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>

    </div>

</div>
<div class="slide-out-nav">

    <ul class="mobile-nav">

        <li><a href="/Home">Home</a></li>
        <li><a href="/Home/#About">About</a></li>
        <li><a href="/Generator">Generator</a></li>
        <li><a href="#WorkoutZone">Workout Zone</a></li>
        <li><a href="#Resources">Resources</a></li>
        <li><a href="#Contact">Contact</a></li>

    </ul>

    <div class="mobile-nav-slice"></div>

</div>

<div class="mobile-nav-toggle">

    <span></span>
    <span></span>
    <span></span>

</div>
