
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/dist/assets/css/main.min.css" />   
    <!-- [if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif] -->
    <title>@ViewBag.Title Dynamo</title>
 
    @Styles.Render("~/Content/css")
  
</head>
<body class="mobile-shift">

    @Html.Partial("_HeaderNavBar")

    @RenderBody()



</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="~/Content/dist/assets/js/functions.min.js"></script>


